* {
  font-family: 'Century Gothic', sans-serif;
}

#myForm {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  background: white;
  overflow: hidden
}

#myFormContainer {
  background: white;
}

#graph {
  background: white;
  width: 100%;
  height: 720px;
  border: 1px solid black;
  font-family: 'Century Gothic', sans-serif;
}

.ui-collapsible-heading .ui-btn {
  background: white;
}

.ui-conent {
  background: white;
}

#submitbtn{
	border : solid 1px grey;
	font-size : 14px;
	color : #000000;
	padding : 1px 17px;
	background : rgb(91, 152, 227);


}

/*resizing boxes*/
#requestingOfficer {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}

#forensicImaging {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}

#forensicExamination {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}

#backgroundInfo {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}

#conclusion {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}

#address {
  box-sizing: content-box;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  overflow: hidden;
}
/*resizing boxes end*/


/*added indentation*/
#header, #request, #digitalEvidenceSummary, #theEnd, #contactInfo, #addressInfo {
  padding: 20px;
}


/*Nav buttons*/
div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button:after {
  font-size: 2em;
  color: gray;
}

.vis-button:hover:after {
  font-size: 2em;
  color: lightgray;
}

.vis-button.vis-up:after {
  content: "▲";
  color: red;
}

.vis-button.vis-down:after {
  content: "▼";
  color: red;
}

.vis-button.vis-left:after {
  content: "◀";
  color: red;
}

.vis-button.vis-right:after {
  content: "▶";
  color: red;
  padding-bottom: 20px;
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
  color: red;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
  color: red;
}

.vis-button.vis-zoomExtends:after {
  content: "⤧";
  color: red;
}
